{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'Questions' %} {% endblock %}

{% block content %}
    <h1 class="mt-2">
        {% trans 'NewQuestions' %}
    </h1> 

    <div class="flex-column" id="questions_list">
        {% for question in page_obj %}
            {% include 'blocks/question_item.html' with question=question parent="questions_list" %}
        {% empty %}
            <div class="d-flex flex-wrap justify-content-evenly">
                <a> {% trans 'EmptyQuestionsList' %} </a>
            </div>
        {% endfor %}
    </div>
<!--TODO Add sorting by new, popular, tag-->
    
    {% include 'blocks/paginator.html' %}
{% endblock %}

