{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ question.title }}{% endblock %}

{% block content %}
    <div class="col">
        <div class="row">
            <div class="col-md-1 d-flex flex-wrap justify-content-evenly">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="bi bi-caret-up h6"></i>
                </button>
                <div class="">
                    <h3>
                        {{ question.likes_count }}
                    </h3>
                </div>
                <button class="btn btn-outline-primary" type="submit">
                    <i class="bi bi-caret-down h6"></i>
                </button>
            </div>
            <div class="col-md-11">
                <h1 class="mt-2">
                    {{ question.title }}
                </h1> 
            </div>
        </div>
        <hr>
        <div class="text-start">
            {{ question.content }}
        </div>
    </div>

    <hr>
    <hr>

    {% for answer in page_obj %}
        <div class="text-start d-flex container-fluid bg-info">
            {{ answer.content }}
        </div> 
    <hr>
    {% empty %}
        <div class="d-flex flex-wrap justify-content-evenly">
            <a> {% trans 'EmptyAnswersList' %} </a>
        </div>
    {% endfor %}
    
    {% include 'blocks/paginator.html' %}

{% endblock %}
