{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'LogIn' %} {% endblock %}

{% block content %}
  <h1>
    {% trans 'LogIn' %}
  </h1>
  {% if form.errors %}
    <p class="text-danger">
      {% trans 'FailedLogin' %}
    </p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        {% if field.label_tag %}
          <label for="loginField" class="form-label pe-2">
            {{ field.label_tag }}
          </label>
        {% endif %}

        {{ field }}

        {% if field.help_text %}
          <label class="helptext form-text">
          {{ field.help_text }}
          </label>
        {% endif %}
      </div>
    {% endfor %}

    <button href="{% url 'login' %}" type="submit" class="btn btn-primary"  value="Login">
      {% trans 'LogIn' %}
    </button>
    <a class="btn btn-outline-primary" href="{% url 'signup' %}" role="button">
        {% trans 'Register' %}
    </a>  
    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}
