{% block navbar %}

<nav class="navbar navbar-expand-lg bg-body shadow p-3 mb-5">
    <div class="container flex-row">
        <a class="navbar-brand" href="#">
            {{ ui_text.site_title }}
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="flex-fill mx-4">
                <form class="d-flex " role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
            <div class="align-self-end">
                {% if data.account %}
                    <div class="d-flex flex-wrap">
                        <img class="rounded-circle me-2" alt="{{ data.account.login }}'s avatar" src="{{ data.account.avatar }}" width=32 height=32>
                        <p class="me-3">
                            {{ data.account.login }}
                        </p>
                        <a class="btn btn-outline-primary" href="#" role="button">
                            {{ ui_text.account_settings }}
                        </a>
                        <a class="btn btn-outline-primary" href="#" role="button">
                            {{ ui_text.logout }}
                        </a>
                    </div>
                {% else %}
                    <div>
                        <a class="btn btn-primary" href="#" role="button">
                            {{ ui_text.log_in }}
                        </a>
                        <a class="btn btn-outline-primary" href="#" role="button">
                            {{ ui_text.registration }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>


{% endblock %}