{% block popular_users %}

<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
  <span class="fs-4">
      {{ ui_text.popular_users }}
  </span>
</a>
<hr>
<div class="d-flex flex-column p-3">
    {% for user in data.popular_users %}
        <a class="btn btn-outline-primary" href="#" role="button">
            {{ user.login }}
        </a>
    {% empty %}
        <a>
            {{ ui_text.np_users_found }}
        </a>
    {% endfor %}
</div>

{% endblock %}