{% load i18n %}

{% block content %}
    <div class="d-flex container border border-secondary rounded p-3 mt-3 text-start">
        <div class="col-md-1 d-flex flex-wrap justify-content-center align-content-start pe-3">
            {% include 'blocks/votes_block_sm.html' with object=answer %}
        </div> 
        <div class="col-md-11">
            <p class="h6 text-truncate">
                {{ answer.author.user.username }}
            </p>

            <p class="">
                {{ answer.content }}
            </p>
        </div> 
    </div> 
<!--TODO Make a proper answer card-->
{% endblock %}
