{% load i18n %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body shadow p-3 mb-5">
        <div class="container flex-row">
            <a class="h3 text-decoration-none" href="{% url 'index' %}">
                {% trans 'SiteTitle' %}
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="flex-fill mx-4">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder={% trans 'Search' %} aria-label="Search">
                        <a class="btn btn-success text-nowrap" href="{% url 'ask' %}" role="button">
                            {% trans 'AskQuestion' %}
                        </a> 
                    </form>
                </div>
                <div class="align-self-end">
                    {% if request.user.is_authenticated %}
                        <div class="d-flex flex-wrap">
                            <div>
                                <img class="rounded-circle me-2" src="{{ request.user.profile.avatar.url }}" width=32 height=32>
                            </div>
                            <div class="d-flex flex-row">
                                <p class="me-3">
                                    {{ request.user.username }}
                                </p>
                                <a class="btn btn-outline-primary" href="{% url 'profile_settings' %}"" role="button">
                                    {% trans 'ProfileSettings' %}
                                </a>
                                <a class="btn btn-outline-primary" href="{% url 'logout' %}" role="button">
                                    {% trans 'LogOut' %}
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <a class="btn btn-primary" href="{% url 'login' %}" role="button">
                                {% trans 'LogIn' %}
                            </a>
                            <a class="btn btn-outline-primary" href="{% url 'signup' %}" role="button">
                                {% trans 'Register' %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}