{% load i18n %}

{% block popular_tags %}

<a href="/" class="text-lg-center link-dark text-decoration-none">
    <span class="fs-4">
        {% trans "PopularTags" %}
    </span>
</a>

<hr>

<div class="d-flex flex-wrap justify-content-evenly flex-fill">
    {% for tag in popular_tags %}
        <a class="btn btn-outline-primary mb-2 me-2 overflow-auto" href="#" role="button">
            {{ tag.name }}
        </a>
    {% empty %}
        <a> {% trans "NoTagsFound" %} </a>
    {% endfor %}
</div>

{% endblock %}