{% load i18n %}

{% block popular_users %}

<a href="/" class="text-lg-center link-dark text-decoration-none">
    <span class="fs-4">
        {% trans 'PopularUsers' %}
    </span>
</a>

<hr>

<div class="d-flex flex-wrap justify-content-evenly">
    {% for profile in popular_users %}
        <a class="link-primary mb-1 mx-2 h4 text-truncate" href="{% url 'profile' profile.pk %}" role="button">
            {{ profile.user.username }}
        </a>
    {% empty %}
        <a> {% trans 'NoUsersFound' %} </a>
    {% endfor %}
</div>

{% endblock %}