{% load i18n %}

{% block content %}
    <div class="d-flex flex-wrap border border-secondary rounded pt-3 mt-3 text-start ">
        <div class="col-md-1 d-flex flex-wrap justify-content-center align-content-start">
            {% include 'blocks/votes_block_sm.html' with object=question %}
        </div> 
        <div class="col-md-11">
            <p class="h6 overflow-auto">
                {{ question.author.user.username }}
            </p>

            <p class="">
                {{ question.content }}
            </p>
        </div> 
    </div> 
{% endblock %}
