{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'AskQuestion' %} {% endblock %}

{% block content %}
  <h1>
      {% trans 'AskQuestion' %}
  </h1>

  <form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        {% if field.label_tag %}
          <label class="form-label">
            {{ field.label_tag }}
          </label>
        {% endif %}

        {{ field }}

        {% if field.help_text %}
          <label class="helptext"> {{ field.help_text }} </label>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mb-2">
      {% trans 'Ask' %}
    </button>
  </form>
{% endblock %}
