{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'Questions' %} {% endblock %}

{% block content %}
    <h1 class="mt-3">
        {% trans 'NewQuestions' %}
    </h1> 

    <div class="accordion row-md-7" id="questions_list">
        {% for question in questions %}
            {% include 'blocks/question_item.html' with question=question parent="questions_list" %}
        {% empty %}
            <a> {% trans 'EmptyQuestionsList' %} </a>
        {% endfor %}
    </div>
    
    {% include 'blocks/paginator.html' %}
{% endblock %}

