{% extends 'base.html' %}

{% block title %} {{ ui_text.registerration }} {% endblock %}

{% block content %}

<h1>
  {{ ui_text.registration }}
</h1>

<form>
  <div class="mb-3">
    <label for="loginField" class="form-label">
      {{ ui_text.register_login }}
    </label>
    <input type="email" class="form-control" id="loginField" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="emailField" class="form-label">
      {{ ui_text.register_email }}
    </label>
    <input type="email" class="form-control" id="emailField" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="passwordField" class="form-label">
      {{ ui_text.password }}
    </label>
    <input type="password" class="form-control"  placeholder="{{ ui_text.password_hint }}" id="passwordField">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="stayLoggedIn">
    <label class="form-check-label" for="stayLoggedIn">
      {{ ui_text.stay_logged_in }}
    </label>
  </div>

  <button type="submit" class="btn btn-primary">
    {{ ui_text.log_in }}
  </button>
</form>

{% endblock %}
